{% load static %}
<html>
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div id="nav-elm"></div>
    <script src="{% static "js/nav-elm.js" %}"></script> 
    <script>

      {% if user.is_authenticated %}
      var user = { userName : "{{ user }}", authorized : true}
      {% else %}
      var user = {userName : "None", authorized : false}
      {% endif %}
      var app = Elm.NavBar.init({
      node: document.getElementById('nav-elm'),
      flags : user
      });
    </script>
    <div style="margin-top:100px">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
